*{
    margin: 0;
    padding: 0;
    font-family: weui;
    font-size: 12px;
}

#wrapper{
    margin-bottom: 50px;
}

#header{
    height: 42px;
}

#header .title{
    background-color: #F24166;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 5px;
    font-size: 18px;
    width: 100%;
    height: 32px;
}

#header a{
    background: url("../img/back.png") no-repeat center;
    height:32px;
    width: 32px;
    float: left;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

#header .title button{
    float: right;
    font-size:14px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
    cursor: pointer;
    color:#ffffff;
    background: none;
    border: none;
}

#content{
    padding: 10px 0;
}

#content #topicSelect{
    width: 100%;
    height: 25px;
}

#content #topicSelect span{
    width: 15%;
    float: left;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
}

#content #topicSelect div{
    width: 83%;
    float: left;
    font-size: 12px;
    height: 22px;
    border: 1px solid #D2D2D2;
    color: #D2D2D2;
}

#content{
    position: relative;
}

#topicTypeSelect{
    position: absolute;
    left: 15%;
    top: 35px;
    margin: 0;
    width: 83%;
    margin-right: 10px;
    border: 1px solid #D2D2D2;
    z-index: 9999;
}


#content .weui_cells::before{
    border-top: none;
}

#content .weui_cell:before{
    border-top: none;
}

#content .weui_cell .weui_icon_checked::before{
    color: #f24166;
}

#commentArea{
    margin-top: 0;
}

#commentArea .weui_cell{
    padding: 10px;
}

#commentArea .weui_cell_bd{
    border: 1px solid #D2D2D2;
}

#content>p{
    padding:0 10px;
    color: #333333;
}

#photoBd>.weui_cell>.weui_cell_bd{
    border: 1px solid #D2D2D2;
    padding: 5px;
}

.info{
    left: 50%;
    margin-left: -3.8em;
    top: 35%;
    border-radius: 5px;
    color: #fff;
    min-height: 7.6em;
    position: fixed;
    text-align: center;
    width: 7.6em;

}

.info.success{
    background: url("../img/right.png") no-repeat center 40%;
    background-color: rgba(40, 40, 40, 0.75);
}

.info.error{
    background: url("../img/error.png") no-repeat center 40%;
    background-color: rgba(40, 40, 40, 0.75);
}


.info p{
    position: absolute;
    bottom: 0;
    left:10%;
    width: 80%;
    margin-bottom: 10px;
}

.weui_uploader_file{
    position:relative;
}

.weui_uploader_file span{
    width: 11px;
    height: 11px;
    background: url("../img/delete.gif") no-repeat center;
    position: absolute;
    right:0px;
    top:0px;
}