*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: weui;
}

#header{
    padding: 5px 0;
    width: 100%;
    background-color: #f24166;
    position: fixed;
    top: 0;
    left: 0;
}

#header .title{
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
}

#header .title a{
    height:32px;
    width: 32px;
    float: right;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    background: url("../img/write.png") no-repeat center;
}

#header .title span{
    margin-left: 32px;
    width: 100%;
    font-size: 18px;
}


#content{
    margin-top: 45px;
    width: 100%;
    /*padding:5px 10px;*/
}

#content .topic{
    width: 100%;
    border-bottom: 3px solid #D2D2D2;
}

#content .topic a{
    color:#333333;
    display: block;
}

#content .topic .topicHeader{
    width: 100%;
    height: 60px;
    padding:5px 10px 0 10px;
    box-sizing: border-box;
}

#content .topic .topicHeader .topicUserHead{
    border-radius: 25px;
    height: 50px;
    margin-left: 0;
    width: 50px;
    float: left;
}

#content .topic .topicHeader .topicUserInfo{
    float: left;
    margin-left: 15px;
    color: #333333;
    font-family: weui;
    font-size: 14px;
    height: 50px;
    /*width: 150px;*/
}

#content .topic .topicHeader .topicUserInfo span{
    color: #F34266;
    font-size: 12px;
    margin-left: 3px;
    border: 1px solid #f34266;
    border-radius: 10px;
    width: 40px;
    height: 17px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    line-height: 17px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#content .topic .topicContent{
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #D2D2D2;
}

#content .topic .topicContent p{
    font-family: weui;
    font-size: 12px;
    max-height:100px;
    overflow: hidden;
}

#content .topic .topicContent img{
    max-width: 100%;
    margin: 5px 0;

}

#content .topic .topicFooter{
    height: 16px;
    width: 100%;
    padding: 5px 0;
}

#content .topic .topicFooter>span{
    height: 16px;
    width: 50%;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    border-right: 1px solid #D2D2D2;
}

#content .topic .topicFooter span a{
    height: 16px;
    width: 45px;
    text-align: right;
    display: inline-block;
    color:#333333;
    text-underline: none;
}

#content .topic .topicFooter span:first-child a{
    background: url("../img/comment.png") no-repeat 0px center;
}

#content .topic .topicFooter span:last-child a{
    background: url("../img/kiss.png") no-repeat 0px center;
}