*{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: weui;
}

#header{
    padding: 5px 0;
    width: 100%;
    background-color: #f24166;
}

#header .title{
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    width: 100%;
}

#header .title button{
    float: right;
    font-size:14px;
    font-weight: 400;
    height: 32px;
    line-height: 32px;
    padding-right: 10px;
    cursor: pointer;
    color:#ffffff;
    background: none;
    border: none;
}

#header .title span{
    margin-left: 50px;
    width: 100%;
    font-size: 18px;
}


#content{
    padding: 10px;
}

#content p{
    color: #f24166;
    font-size: 10px;
    margin-bottom: 5px;
}

#content label{
    font-size: 12px;
}

#content input{
    padding:5px;
    line-height: 16px;
    font-size: 12px;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
}

.weui_dialog .weui_dialog_ft a{
    color: #f24166;
    font-size: 14px;
}