*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: weui;
}

#header .title{
    background-color: #F24166;
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding: 5px;
    font-size: 18px;
    width: 100%;
}

#content ul li{
    padding: 10px;
    border-bottom:1px solid #9b9b9b;
}

#content ul li a{
    display: block;
}

#content ul li a p{
    color:#9b9b9b;
    line-height: 1.5;
    font-size: 10px;
}

#content ul li a p:first-child{
    color: #333333;
    font-size: 12px;
}

#content ul li a p:last-child{
    text-align: right;
    font-size: 10px;
    margin-right: 5px;
    color: #333333;
}
